# type

In [1]:
Name ="umair"
type(Name)

str

In [3]:
name = 12334
type(name)

int

In [4]:
name1 = 3767.787
type(name1)

float

In [1]:
list = ["amna","saba","shaista","aqsa", 2019]
list

['amna', 'saba', 'shaista', 'aqsa', 2019]

# ACCESSING THE VALUES IN LIST

In [2]:
list

['amna', 'saba', 'shaista', 'aqsa', 2019]

In [6]:
list[0]

'amna'

In [8]:
list[1:3]

['saba', 'shaista']

# Updating the list

In [9]:
list

['amna', 'saba', 'shaista', 'aqsa', 2019]

In [49]:
list1 = ["islamabad","karachi","muree",8,0,87]
list1

['islamabad', 'karachi', 'muree', 8, 0, 87]

In [15]:
list1[2] = "layyah"
list1

['capital', 'karachi', 'layyah']

# Delete list elements

In [17]:
list

['amna', 'saba', 'shaista', 'aqsa', 2019]

In [18]:
list1

['capital', 'karachi', 'layyah']

In [19]:
del list1[1]
list1

['capital', 'layyah']

In [20]:
del list[0]
list

['saba', 'shaista', 'aqsa', 2019]

# Basic list operations

In [21]:
list

['saba', 'shaista', 'aqsa', 2019]

In [22]:
list1

['capital', 'layyah']

In [24]:
len(list1)

2

In [25]:
len (list)

4

In [61]:
list + list1

['saba', 'shaista', 'aqsa', 2019, 'islamabad', 'karachi', 'muree', 8, 0, 87]

In [64]:
list1 * 3

['islamabad',
 'karachi',
 'muree',
 8,
 0,
 87,
 'islamabad',
 'karachi',
 'muree',
 8,
 0,
 87,
 'islamabad',
 'karachi',
 'muree',
 8,
 0,
 87]

In [37]:
"saba" in list

True

# indexing slicing

In [42]:
a = ["age", "Age", "AGE"]
a

['age', 'Age', 'AGE']

In [44]:
len (a)

3

In [45]:
a[1:]

['Age', 'AGE']

In [46]:
a[-3]

'age'

# Built in list funcations & methods

In [47]:
len(list)

4

In [52]:
LIST = [1,5,7,4,55]
LIST

[1, 5, 7, 4, 55]

In [53]:
max(LIST)

55

In [54]:
min(LIST)

1

In [55]:
LIST .append(44)
LIST

[1, 5, 7, 4, 55, 44]

In [56]:
LIST . insert (2,222)
LIST

[1, 5, 222, 7, 4, 55, 44]

In [57]:
LIST . remove(4)
LIST

[1, 5, 222, 7, 55, 44]

In [58]:
LIST . reverse()
LIST

[44, 55, 7, 222, 5, 1]

In [59]:
LIST . sort()
LIST

[1, 5, 7, 44, 55, 222]