In [3]:
tup = ("isbd",1,4,84,1)
tup

('isbd', 1, 4, 84, 1)

In [4]:
tup1 = ("ramazan","tuple",)
tup1

('ramazan', 'tuple')

In [5]:
tup2 =()
tup2

()

In [12]:
tup2 = (44,)
tup2

(44,)

# Accessing values in tuples

In [14]:
print(tup)
print(tup1)
print(tup2)

('isbd', 1, 4, 84, 1)
('ramazan', 'tuple')
(44,)

In [16]:
tup[2]

4

In [64]:
tup1[0:1]
tup1

('ramazan', 'tuple')

# Updating the tuples

In [40]:
tup3 = tup1 +tup2 + tup;
tup3

('ramazan', 'tuple', 44, 'isbd', 1, 4, 84, 1)

# delete tuple elements

In [41]:
tup

('isbd', 1, 4, 84, 1)

In [42]:
del tup

In [43]:
tup

NameError: name 'tup' is not defined

# Basic tuple operations

In [44]:
tup1

('ramazan', 'tuple')

In [45]:
tup2

(44,)

In [46]:
len(tup2)

1

In [47]:
tup2 * 3

(44, 44, 44)

In [48]:
5 in tup1

False

In [49]:
5 not in tup1

True

# indexing , slicing ,Matrices

In [51]:
i = ("age","Age","AGE")
i

('age', 'Age', 'AGE')

In [52]:
i[1]

'Age'

In [53]:
i[-1]

'AGE'

In [54]:
i[1:2]

('Age',)

# Built in tuple functions

In [56]:
len(i)

3

In [62]:
tuple1 (123, 'xyz')
tuple2 (333, 'eee')
print cmp(tuple1, tuple2)

SyntaxError: invalid syntax (<ipython-input-62-26af3c4ce9b3>, line 3)